body{
    margin: 0;
    font-family: inter;
    align-items: center;
}

h1{
    font-size: 40px;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nBar{
    margin: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    height: 30px;
    width: 90%;
    max-width: 1000px;
    align-items: center;

}


.nBar .logo{
    padding: 0px 10px 0px 10px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
}

.nBar img{
    display: none;
}

.logop{
    padding: 0px 20px 0px 20px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
}

.logop p{
    font-size: 40px;
}


.nBar p{
    margin: 5px;
}


.nBar .active{
    padding: 7px 10px 7px 10px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 50px;
    
}

.specialred{
    color: #F05454;
    font-style: italic;
}


.specialgray{
    color: #D9D9D9;
    font-style: italic;
}

.list{
    margin-left: auto;
}

.list ul{
    list-style: none;
    margin: 0px;
}

.list li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}


.banner{
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.banner .Sline{
    width: 1px;
    height: 350px;
    padding: 1px;
    margin-left: 14px;
    margin-top: 30px;
    background-color: black;
}

.banner .ball{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
}

.banner .text{
    margin-top: 80px;
    margin-left: 20px;
}

.banner .photo{
        margin-left: auto;

}

.banner .photo img{
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    height: auto;
    margin: 0;
}

.aboutme{
    background-color: #D9D9D9;
    width: 90%;
    height: 450px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.mainbox{
    display: flex;
    position: absolute;
}

.sociallinks{
    position: relative;
    padding: 300px 0 0 350px;
}

.redbox{
    background-color: #F05454;
    margin: 20px 80px 20px 200px;
    width: 780px;
    height: 400px;
    border-radius: 0 50px 50px 0;
}

h3{
    text-decoration: underline;
}

.redbox h1, .redbox h3{
    margin-left: 120px;
}

.redbox h2{
    margin-left: 140px;
}

.myphoto{
    display: flex;
}

.myphotoimg img{
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    height: auto;
    margin: 0;
    position: absolute;
}






.social h1{
    margin-top: 0px;
    text-align: center;
}

.taskmainbox{
    display: flex;
    background-color: #30475E;
    width: 90%;
    height: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.taskmainboxbox{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.taskmainbox .box1{
    display: flex;
    padding: 20px 0 20px 0;
    margin: 20px 20px 20px 20px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 10px 10px;
}

.taskmainbox:hover{
    transform: scale(1.02);
}

.box1:hover{
    box-shadow: #F05454 5px 5px;
    transform: scale(1.05);
}

.boxbox{
    margin: 10px;
    background-color: #ffffff;
}

.box1 img, .box1 video{
    display: flex;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.links img{
    display: inline;
    width: 30px;
}

.linkimage{
    margin-left: auto;
    margin-right: auto;
}

.links{
    margin-left: auto;
    margin-right: auto;
}




hr{
    max-width: 1000px;
    width: 90%;
}

.formbox{
    background-color: #D9D9D9;
    max-width: 1000px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
}

.formbox h1{
    text-align: center;
    padding-top: 10px;
    margin: 0;
    color: #30475E;
}

form{
    padding: 20px 0 20px 0;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    
}

.flexbox{
    display: flex;
}

.g1{
    margin-right: auto;
}

.g2{
    margin-left: auto;
}


input[type=text], select, input[type=email], textarea, input[type=number], input[type=button], input[type=password]{
    width: 300px;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(198, 198, 198);
    color:rgb(198, 198, 198);
}

textarea{
    width: 100%;
    height: 60px;
}

button{
    padding: 0 20px 0 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    background-color: #30475E;
    color: white;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
}

footer{
    margin-top: 50px;
    background-color: #D9D9D9;
}


footer .footer1, .footer2{
    display: flex;
    max-width: 1000px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.footer1 .b1{
    margin-right: auto;
}

.footer1 .b1 h1{
    margin-top: 15px;
}

.footer1 .b2{
    margin-right: auto;
    margin-left: auto;
}

.footer1 .b3{
    margin-left: auto;
}

.footer2 .b4{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.b4 img{
    width: 50px;
    height: 50px;
    margin: 20px;
}

footer .footer2{
    display: flex;
}


footer .fline{
    display: flex;
    background-color: #30475E;
    color: white;
    font-weight: 600;
}

.fline p{
    margin-left: auto;
    margin-right: auto;
}



.nBar:hover, li:hover, img:hover {
    transform: scale(1.1);
}

.logo:hover{
    transform: scale(1.1);
    margin-left: 10px;
}

.list a:hover{
    font-weight: 600;
    color: #F05454;
    margin-right: 10px;
}


@media only screen and (max-width: 600px) {
body{
    width: fit-content;
}

    .nBar .list{
        display: none;
    }

    .nBar{
        width: fit-content;
        height: fit-content;
        text-align: center;
        gap: 20px;
    }

    .nBar img{
        display: block;
        width: 100px;
        margin-left: auto;
    }

    .logo{
        font-size: 80px;
    }


    .banner .photo img{
        width: 800px;
        max-width: 750px;
    }


    .banner{
        display: block;
    }
    .line{
        height: 0px;
    }

    .text{
        padding-left: 50px;
    }

    .redbox{
        max-width: fit-content;
    }

    .redbox h3{
        width: 370px;
    }

    .box3{
        display: none;
    }

    .taskmainbox{
        height: fit-content;
    }

    .taskmainboxbox{
        display: inline-block;
    }

    .b4 img{
        margin: 5px;
        width: 40px;
        height: 40px;
    }

    .sociallinks{
        padding: 350px 0 0 350px;
    }

    .text p{

    font-size: 40px;
}   
    .text h1{
     font-size: 80px;
     margin:  0;
    }

    .banner .Sline{
    height: 550px;
    width: 2px;
    padding-top: 80px;
    margin-top: 0;
    }

    footer .footer1{
    text-align: center;
    display: block;
    }

    .logop{
    margin-left: auto;
    margin-right: auto;
    }

    ul{
        padding-left: 0;
    }
    li{
        list-style: none;
    margin-left: auto;
    margin-right: auto;
    }

    .taskmainbox .box1{
        width: 90%;
    }

    .box1 img, .box1 video{
        width: 80%;
    }

    .links img{
        padding: 10px;
        width: 60px;
    }

    .links p{
        font-size: 30px;
    }

    h4{
        font-size: 40px;
        margin: 10px;
    }

    h2{
        color: #F05454;
    }

    .boxbox p, .boxbox h4, .boxbox h2, .boxbox .links{
        margin-left: 50px;
        width: 90%;
    }

    .logop p{
        font-size: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .b2 h2, .b3 h2{
        font-size: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .b2 a, .b3 a{
        font-size: 30px;
    }

    .b4 img{
       width: 80px;
       height: 80px;
       margin: 15px;
    }

}